@page
@using WireMock.Server
@model WireMock.Pages_WireMockServers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WireMockServerModel.Id"/>
            <div class="form-group">
                <label asp-for="WireMockServerModel.Name" class="control-label"></label>
                <input asp-for="WireMockServerModel.Name" class="form-control"/>
                <span asp-validation-for="WireMockServerModel.Name" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="WireMockServerModel.Created" class="control-label"></label>
                <input readonly asp-for="WireMockServerModel.Created" class="form-control"/>
                <span asp-validation-for="WireMockServerModel.Created" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="WireMockServerModel.Contact" class="control-label"></label>
                <input asp-for="WireMockServerModel.Contact" class="form-control"/>
                <span asp-validation-for="WireMockServerModel.Contact" class="text-danger"></span>
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <label asp-for="WireMockServerModel.StartAdminInterface" class="control-label"></label>
                <input asp-for="WireMockServerModel.StartAdminInterface" class="form-check"/>
                <span asp-validation-for="WireMockServerModel.StartAdminInterface" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="WireMockServerModel.ProxyUrl" class="control-label"></label>
                <input asp-for="WireMockServerModel.ProxyUrl" class="form-control"/>
                <span asp-validation-for="WireMockServerModel.ProxyUrl" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="WireMockServerModel.Port" class="control-label"></label>
                <input asp-for="WireMockServerModel.Port" class="form-check"/>
                <span asp-validation-for="WireMockServerModel.Port" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="WireMockServerModel.SaveMapping" class="control-label"></label>
                <input asp-for="WireMockServerModel.SaveMapping" class="form-check"/>
                <span asp-validation-for="WireMockServerModel.SaveMapping" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="WireMockServerModel.SaveMappingToFile" class="control-label"></label>
                <input asp-for="WireMockServerModel.SaveMappingToFile" class="form-check"/>
                <span asp-validation-for="WireMockServerModel.SaveMappingToFile" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="WireMockServerModel.SaveMappingForStatusCodePattern" class="control-label"></label>
                <input asp-for="WireMockServerModel.SaveMappingForStatusCodePattern" class="form-control"/>
                <span asp-validation-for="WireMockServerModel.SaveMappingForStatusCodePattern" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="WireMockServerModel.Description" class="control-label"></label>
                <input asp-for="WireMockServerModel.Description" class="form-control"/>
                <span asp-validation-for="WireMockServerModel.Description" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="../Server">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}