@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WireMockServiceModel.Name" class="control-label"></label>
                <input asp-for="WireMockServiceModel.Name" class="form-control" />
                <span asp-validation-for="WireMockServiceModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WireMockServiceModel.Created" class="control-label"></label>
                <input asp-for="WireMockServiceModel.Created" class="form-control"  
                       value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly/>
                <span asp-validation-for="WireMockServiceModel.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WireMockServiceModel.ProxyUrl" class="control-label"></label>
                <input asp-for="WireMockServiceModel.ProxyUrl" class="form-control" />
                <span asp-validation-for="WireMockServiceModel.ProxyUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WireMockServiceModel.Port" class="control-label"></label>
                <input asp-for="WireMockServiceModel.Port" class="form-check" />
                <span asp-validation-for="WireMockServiceModel.Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WireMockServiceModel.SaveMapping" class="control-label"></label>
                <input asp-for="WireMockServiceModel.SaveMapping" class="form-check" />
                <span asp-validation-for="WireMockServiceModel.SaveMapping" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WireMockServiceModel.SaveMappingForStatusCodePattern" class="control-label"></label>
                <input asp-for="WireMockServiceModel.SaveMappingForStatusCodePattern" class="form-control" />
                <span asp-validation-for="WireMockServiceModel.SaveMappingForStatusCodePattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WireMockServiceModel.Contact" class="control-label"></label>
                <input asp-for="WireMockServiceModel.Contact" class="form-control" />
                <span asp-validation-for="WireMockServiceModel.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WireMockServiceModel.Description" class="control-label"></label>
                <input asp-for="WireMockServiceModel.Description" class="form-control" />
                <span asp-validation-for="WireMockServiceModel.Description" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Server">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
